DATABASE_URL=postgresql+psycopg2://postgres:YOUR_PASSWORD@localhost:5432/hcp_crm
GROQ_API_KEY=your_api
GROQ_MODEL=llama-3.1-8b-instant #because the gemma model is discommisioined by GROQ
GROQ_MODEL_FALLBACK=llama-3.3-70b-versatile